
.jc-productTab {
  background-color: #cf1010;
}

.jc-productTabSelected {
  border: 1px solid #010509;
  box-shadow: 0 0 0 0.2rem #010509;
}

label#_ideal_label {
  color: #cf2121;
}

input#_card_number,
input#_expiry,
input#_cvv,
input#_account_number,
input#_routing_number,
select#_account_type_select,
select#ideal_select {
  color: #222222;
  background-color: #cf1010;
}

input#_card_number::placeholder,
input#_expiry::placeholder,
input#_cvv::placeholder,
input#_account_number::placeholder,
input#_routing_number::placeholder {
  color: #f2eded;
}

#_submit_button {
  background-color: #010509;
  border: 1px solid #010509;
  color: #e3dede;
}
    
